<html>
<head>
 <title>INFO 257 Workshop Form</title>
 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library: Supports Javascript Plugins -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
 <!-- Create our own custom CSS -->
<style>
  @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
  body{
      text-align: center;
      background-color: lightblue;
  }
  h1{
      font-family: 'Amatic SC', cursive;
      font-weight: normal;
      color: #8ac640;
      font-size: 2.5em;
  }
  </style>

<body>
 <h1>My INFO 257 Workshop</h1>
  <p>Select from the options below:</p>
 <br>
 
 <form method="POST" action="/customers">

   <div class="form-group">
     <input type="submit" value="List Customers" />
   </div>
 </form>
 
 <br>
 
 <form method="POST" action="/destinations">

   <div class="form-group">
     <input type="submit" value="List Destinations" />
   </div>
 </form>
 
</body>

</html>
